@model ProfileViewModel
@{
    ViewData["Title"] = "Agent profile";
}

<div class="c-content__wrap">
    <div class="l-container">
        <div class="c-content__agent-profile h-clearfix">
            <div class="c-content__agent-overview l-col l-col-8">
                <div class="c-content__agent-card">
                    <h1>@Model.FirstName @Model.LastName</h1>
                    <div class="c-content__agent-profile-photo">
                        <img src="images/agents/agent5.png" alt="">
                    </div>
                    <div class="c-content__rating c-content__rating--agent">
                        <div class="c-content__rating-stars">
                            @for (int i = 0; i < 5; i++)
                            {
                                <span class="@("c-content__rating-star c-content__rating-star" + 
                                    ((Model.Skills.Average - i) > 0.5 ? "--full" : (Model.Skills.Average - i) == 0.5 ? "--half-full" : null))"></span>
                            }
                        </div>
                        <div class="c-content__rating-info">
                            <div class="c-content__rating-average">@Model.Skills.Average</div>
                            <a href="#" class="c-content__agent-review-count">16</a>
                        </div>
                    </div>
                    <div class="c-content__skill-bars c-content__skill-bars--agent">
                        <div class="c-content__skill-bar">
                            <div class="c-content__skill-bar-title">Local knowledge</div>
                            <div class="c-content__skill-bar-average">@String.Format("{0:0.0}", Model.Skills.LocalKnowledge)</div>
                            <div class="c-content__skill-bar-row--default">
                                <div class="c-content__skill-bar-row" style="width:@(Model.Skills.LocalKnowledgePercentage)%;"></div>
                            </div>
                        </div>
                        <div class="c-content__skill-bar">
                            <div class="c-content__skill-bar-title">Process expertise</div>
                            <div class="c-content__skill-bar-average">@String.Format("{0:0.0}", Model.Skills.ProcessExpertise)</div>
                            <div class="c-content__skill-bar-row--default">
                                <div class="c-content__skill-bar-row" style="width:@(Model.Skills.ProcessExpertisePercentage)%;"></div>
                            </div>
                        </div>
                        <div class="c-content__skill-bar">
                            <div class="c-content__skill-bar-title">Responsiveness</div>
                            <div class="c-content__skill-bar-average">@String.Format("{0:0.0}", Model.Skills.Responsiveness)</div>
                            <div class="c-content__skill-bar-row--default">
                                <div class="c-content__skill-bar-row" style="width:@(Model.Skills.ResponsivenessPercentage)%;"></div>
                            </div>
                        </div>
                        <div class="c-content__skill-bar">
                            <div class="c-content__skill-bar-title">Negotiation Skills</div>
                            <div class="c-content__skill-bar-average">@String.Format("{0:0.0}", Model.Skills.NegotiationSkills)</div>
                            <div class="c-content__skill-bar-row--default">
                                <div class="c-content__skill-bar-row" style="width:@(Model.Skills.NegotiationSkillsPercentage)%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-content__agent-desc">
                    <h4 class="l-border">About</h4>
                    <p>
                        Being a full-service Realtor since 2007, I have been baptized by fire in a very tough housing market. I have successfully closed over 60 transactions and
                        processed over 70 short sales both as the listing agent and some for other agents. I am very knowledgeable about lenders and their processes. I strive to
                        exceed expectations and never forget that I am always accountable to my clients.
                    </p>
                    <p>
                        My objective is to establish relationships for life, not just for the current transaction. I enjoy assisting home buyers and sellers to get moved to a
                        better place, one that is exciting.
                    </p>
                    <p class="l-small">
                        <strong>Brokerage:</strong> Berkshire Hathaway HomeServices Elite Real Estate
                    </p>
                    <p class="l-small">
                        <strong>Specialties:</strong> Property Management, Buyer’s Agent, Listing Agent…
                    </p>
                    <p class="l-small">
                        <strong>License Number(s):</strong> #5452129
                    </p>
                </div>
            </div>
            <div class="c-content__agent-form l-col l-col-4">
                <div class="l-box l-box--contact-agent">
                    <form class="l-form l-contact-agent-form">
                        <div class="l-form__holder">
                            <h5>Contact Melissa</h5>
                            <div class="l-form__inner">
                                <div class="l-form-row h-clearfix">
                                    <div class="l-form-group">
                                        <input type="text" class="l-form-control" id="inputFirstName_ContactAgentForm" required="">
                                        <label for="inputFirstName_ContactAgentForm" class="l-form-label">first name</label>
                                        <span class="l-form-control-focus"></span>
                                    </div>
                                </div>
                                <div class="l-form-row h-clearfix">
                                    <div class="l-form-group">
                                        <input type="text" class="l-form-control" id="inputLastName_ContactAgentForm" required="">
                                        <label for="inputLastName_ContactAgentForm" class="l-form-label">last name</label>
                                        <span class="l-form-control-focus"></span>
                                    </div>
                                </div>
                                <div class="l-form-extra demo">
                                    <div class="l-form-row h-clearfix">
                                        <div class="l-form-group">
                                            <input type="email" class="l-form-control" id="inputEmail_ContactAgentForm" required="">
                                            <label for="inputEmail_ContactAgentForm" class="l-form-label">email</label>
                                            <span class="l-form-control-focus"></span>
                                        </div>
                                    </div>
                                    <div class="l-form-row h-clearfix">
                                        <div class="l-form-group">
                                            <input type="text" class="l-form-control" id="inputPhone_ContactAgentForm" required="">
                                            <label for="inputPhone_ContactAgentForm" class="l-form-label">phone</label>
                                            <span class="l-form-control-focus"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="l-form-row h-clearfix">
                                    <div class="l-form-group l-form-group--textarea">
                                        <textarea class="l-form-control" id="areaComment_ContactAgentForm" required=""></textarea>
                                        <label for="areaComment_ContactAgentForm" class="l-form-label">comment</label>
                                        <span class="l-form-control-focus"></span>
                                    </div>
                                </div>
                                <div class="l-form-row l-form-row--submit l-row--center">
                                    <button type="submit" class="l-btn l-btn-primary">Submit</button>
                                    <div class="l-form__buttons h-clearfix">
                                        <a href="#" class="l-btn l-btn--action l-btn--gray">Call</a>
                                        <a href="#" class="l-btn l-btn--action l-btn--gray">Leave Review</a>
                                    </div>
                                    <div class="l-form-text">
                                        <a href="#">www.crosbyrealestate.com</a>
                                    </div>
                                    <ul class="l-list l-list--social c-content__agent-form-social">
                                        <li>
                                            <a href="#" target="_blank">
                                                <span class="l-list--social__icon">
                                                    <img src="images/social/icon-twitter-agent.svg" alt="">
                                                </span>
                                                <span class="l-list--social__icon--hover">
                                                    <img src="images/social/icon-twitter-agent-dark.svg" alt="">
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <span class="l-list--social__icon">
                                                    <img src="images/social/icon-facebook-agent.svg" alt="">
                                                </span>
                                                <span class="l-list--social__icon--hover">
                                                    <img src="images/social/icon-facebook-agent-dark.svg" alt="">
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <span class="l-list--social__icon">
                                                    <img src="images/social/icon-linkedin-agent.svg" alt="">
                                                </span>
                                                <span class="l-list--social__icon--hover">
                                                    <img src="images/social/icon-linkedin-agent-dark.svg" alt="">
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="l-divider l-divider--big"></div>
        <h3>Active Listings</h3>
        <div class="c-content__property c-content__property--related">
            @foreach (var item in Model.ActiveListing)
            {
                <div class="@("c-content__property-item " + (item.Favorite ? "is-favorite" : null))">
                    <a href="#">
                        <div class="c-content__property-main">
                            <div class="c-content__property-image">
                                <img src="@item.ImgUrl" alt="">
                            </div>
                            <div class="c-content__property-price h-clearfix">
                                <div class="c-content__property-price-current">
                                    $@String.Format("{0:N0}", item.CurrentPrice)
                                </div>
                                @if (item.PriceChanges != 0)
                                {
                                    <div class="@("c-content__property-price-changes c-content__property-price-changes--" + (item.PriceChanges > 0 ? "up" : "down"))">
                                        <span class="value">@Math.Abs(item.PriceChanges)</span>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="c-content__property-desc">
                            <div class="c-content__property-info h-clearfix">
                                <div class="c-content__property-address">
                                    @item.Address
                                </div>
                                <div class="c-content__property-photos">
                                    <span>×</span> @item.Photos
                                </div>
                            </div>
                            <div class="c-content__property-features h-clearfix">
                                <div class="c-content__property-feature c-content__property-feature--beds">
                                    @item.Beds
                                </div>
                                <div class="c-content__property-feature c-content__property-feature--bath">
                                    @String.Format("{0:0.0}", item.Bath)
                                </div>
                                <div class="c-content__property-feature c-content__property-feature--sqft">
                                    @String.Format("{0:N0}", item.SQFT)
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="c-content__property-favorite"></div>
                </div>
            }           
        </div>
        <div class="l-row l-row--center">
            <a class="l-btn l-btn-more l-btn-more--arrow-changeable" href="#"><span class="h-hide-on-mobile">See </span>More</a>
        </div>
        <div class="l-divider l-divider--big"></div>
        <h3>Past Sales</h3>
        <div class="c-content__homes">
            <div class="c-content__homes-row">
                <div class="c-content__homes-col c-content__homes-col--property">
                    Property
                </div>
                <div class="c-content__homes-col c-content__homes-col--details">
                    Details
                </div>
                <div class="c-content__homes-col c-content__homes-col--represented">
                    Represented
                </div>
                <div class="c-content__homes-col c-content__homes-col--price">
                    Price
                </div>
            </div>

            @foreach (var item in Model.PastSales)
            {
                <div class="c-content__homes-row">
                    <div class="c-content__homes-col c-content__homes-col--property">
                        <div class="c-content__homes-property-photo">
                            <img src="@item.ImgUrl" alt="">
                        </div>
                    </div>
                    <div class="c-content__homes-col c-content__homes-col--details">
                        <span class="c-content__homes-price">$@String.Format("{0:N0}", item.CurrentPrice)</span>
                        <span class="c-content__homes-location">@item.Location</span>
                        <span class="c-content__homes-address">@item.Address, @item.Location</span>
                        <span class="c-content__homes-info">@String.Format("{0} bed, {1} bath, {2} sqft", item.Beds, item.Bath, String.Format("{0:N0}", item.SQFT))</span>
                        <span class="c-content__homes-date">Sold date: @item.SoldDate.ToShortDateString()</span>
                    </div>
                    <div class="c-content__homes-col c-content__homes-col--represented">
                        @item.Represented
                    </div>
                    <div class="c-content__homes-col c-content__homes-col--price">
                        $@String.Format("{0:N0}", item.CurrentPrice)
                    </div>
                </div>
            }           
        </div>
        <ul class="l-list l-list--pagination h-hide-on-tablet">
            <li class="l-list__pagination-control l-list__pagination-control--prev l-list__pagination-control--disabled">
                <a href="#"></a>
            </li>
            <li class="l-list__pagination-pages">
                <span class="l-list-pagination__current">1</span>
                <span class="l-list-pagination__pages-count">32</span>
            </li>
            <li class="l-list__pagination-control l-list__pagination-control--next">
                <a href="#"></a>
            </li>
        </ul>
        <div class="l-divider l-divider--big"></div>
        <h3>Ratings &amp; Reviews</h3>
        <div class="c-content__filter c-content__filter--reviews h-clearfix">
            <div class="l-col l-col-4 l-col-xs-6">
                <div class="jq-selectbox jqselect l-form-control l-form-select l-form-elem-custom changed" id="reviewType_ReviewFilter-styler" style="z-index: 10;">
                    <select class="l-form-control l-form-select l-form-elem-custom custom-select" id="reviewType_ReviewFilter">
                        <option>All reviews (16)</option>
                        <option>1</option>
                        <option selected>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="l-col l-col-4 l-col-xs-6">
                <div class="jq-selectbox jqselect l-form-control l-form-select l-form-elem-custom" id="reviewOrder_ReviewFilter-styler" style="z-index: 9;">
                    <select class="l-form-control l-form-select l-form-elem-custom custom-select" id="reviewOrder_ReviewFilter">
                        <option selected>Newest first</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="l-col l-col-4 h-hide-on-mobile">
                <button type="button" class="l-btn l-btn--action l-btn--blue">Write a Review</button>
            </div>
        </div>
        <div class="c-content__reviews">
            @foreach (var item in Model.Reviews)
            {
                <div class="c-content__review-item">
                    <div class="c-content__review-summary">
                        <div class="c-content__review-info">
                            <div class="c-content__review-date">
                                @item.Date.ToShortDateString()
                            </div>
                            <div class="c-content__review-meta h-show-on-mobile">
                                <div class="c-content__review-author">
                                    Reviewed by: @item.Author
                                </div>
                                <div class="c-content__review-home">
                                    @item.Home
                                </div>
                            </div>
                            <div class="c-content__rating c-content__rating--review">
                                <div class="c-content__rating-stars">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        <span class="@("c-content__rating-star c-content__rating-star" +
                                            ((item.Skills.Average - i) > 0.5 ? "--full" : (item.Skills.Average - i) == 0.5 ? "--half-full" : null))"></span>
                                    }
                                </div>
                                <div class="c-content__rating-info">
                                    <div class="c-content__review-average">@item.Skills.Average</div>
                                </div>
                            </div>
                            <div class="c-content__review-meta h-hide-on-mobile">
                                <div class="c-content__review-author">
                                    Reviewed by: @item.Author
                                </div>
                                <div class="c-content__review-home">
                                    @item.Home
                                </div>
                            </div>
                        </div>
                        <div class="c-content__skill-bars c-content__skill-bars--review">
                            <div class="c-content__skill-bar">
                                <div class="c-content__skill-bar-title">Local knowledge</div>
                                <div class="c-content__skill-bar-average">@String.Format("{0:0.0}", item.Skills.LocalKnowledge)</div>
                                <div class="c-content__skill-bar-row--default">
                                    <div class="c-content__skill-bar-row" style="width:@(item.Skills.LocalKnowledgePercentage)%;"></div>
                                </div>
                            </div>
                            <div class="c-content__skill-bar">
                                <div class="c-content__skill-bar-title">Process expertise</div>
                                <div class="c-content__skill-bar-average">@String.Format("{0:0.0}", item.Skills.ProcessExpertise)</div>
                                <div class="c-content__skill-bar-row--default">
                                    <div class="c-content__skill-bar-row" style="width:@(item.Skills.ProcessExpertisePercentage)%;"></div>
                                </div>
                            </div>
                            <div class="c-content__skill-bar">
                                <div class="c-content__skill-bar-title">Responsiveness</div>
                                <div class="c-content__skill-bar-average">@String.Format("{0:0.0}", item.Skills.Responsiveness)</div>
                                <div class="c-content__skill-bar-row--default">
                                    <div class="c-content__skill-bar-row" style="width:@(item.Skills.ResponsivenessPercentage)%;"></div>
                                </div>
                            </div>
                            <div class="c-content__skill-bar">
                                <div class="c-content__skill-bar-title">Negotiation Skills</div>
                                <div class="c-content__skill-bar-average">@String.Format("{0:0.0}", item.Skills.NegotiationSkills)</div>
                                <div class="c-content__skill-bar-row--default">
                                    <div class="c-content__skill-bar-row" style="width:@(item.Skills.NegotiationSkillsPercentage)%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-content__review-content">                        
                        @if (item.Text.Length > 300)
                        {
                            @item.Text.Substring(0, 300)
                            <a class="l-toggle-content-link" href="#">More</a>
                        } else
                        {
                            @item.Text
                        }
                    </div>
                </div>
            }
        </div>
        <div class="c-content__copyright c-content__copyright--zillow">
            <div class="c-content__logo-copyright">
                <a href="#">Zillow</a>
            </div>
            <p>
                © Zillow, Inc., 2006-2016. Use is subject to <a href="#">Terms of Use</a>
            </p>
            <p>
                <a href="#">What's a Zestimate?</a>
            </p>
        </div>
    </div>
</div>
